
/* секция .image-banner фиксация текста */
@media (max-width: 1240px) and (min-width: 768px) {  
    .banner-title-top {
        top: 550px;
        right: 50px;
    }
   
}
/* секция .imobile-card-wark  скрыта */
@media (max-width: 1240px) {
    .mobile-card-wark {
      display: none;
    }
  }

@media (max-width: 1150px) and (min-width: 1100px) {
    .conteiner-card-top-wark {
        gap: 3px; /* Устанавливаем расстояние между картами */
        
    }
}
@media (max-width: 1024px){

  .about-page_conteiner-title {

    margin-left:0px;
    margin-top: 0px;
    margin-top: 300px;

  }

  
 
}

@media (max-width: 1158px) {

  .conteiner-card-top-wark  {

    height: 600px;
  }
  .new-text-conteiner {

    justify-content: center;
    text-align: center;
    margin-left: 0;

  }
  .new-text-block {

    font-size: 50px;
  }
  .new-text-center-conteiner {

    justify-content: center;
    text-align: center;
    margin-left:0;


  }

}

@media (max-width: 1100px) {
  
    .mobile-card-wark {
      display: block; /* Включаем .mobile-card-wark */
    }
    .form-button-one {/* форма-кнопка */

      margin-top: 20px;
    }
    .form-inline-top {

      margin-top: 20px;
      
    }
    
    .column-space-star-left { /*колонка ракета смещена левая  */
      margin-left: 70px;

    }
    .column-space-star-right {/*колонка ракета смещена лправая */

      margin-right: 70px

    }
}

@media (max-width: 1075px) {/* увеличиваем пространство для карточек */

  .center-raceta-mars-description-conteiner {

    gap:320px;

  }


}
@media (max-width: 992px) {/* logo-mars */
  .navbar-brand {

    display: none;
  }
  .perezapusk_conteiner-title {

    width: 0;
  }

  .center-raceta-mars-description-conteiner {

    gap:200px;

  }


}

@media (max-width: 790px) {

  .card-top-wark-section {

    height: 700px;
  }
}

@media (max-width: 768px) {
  .about-page_section {

    display: none;

  }

  .about--section-two {
    display: block;

  }
  .card-top-wark-section {

    height: 880px;
  }
  .footer_new  {

    display: none;
  } 
  .mobile-footer_section {

    display: block;
  }
}

@media (max-width: 768px) {/* замена главного экрана на 768 px */

  .detail-name h1  {

    font-size: 50px;
  }

  .opisanie-name h3 {

    font-size: 50px;


  }

  .horizontal-bar {

    
    width: 480px;
    height: 1px; /* Высота полосы */
    background-color: black; /* Цвет полосы */
    margin: 0 auto; /* Центрирование по горизонтали */

  }
  .etapy-description {

    padding: 0;
  }

 

  .about-image_planshet-stvoreno {

    display: block;
  }
  .banner{/* замена главного экрана на 768 px */

    display: none;

  }

  .planshet-banner  {/* замена главного экрана на 768 px */

    display: block;

  }
  .cosmonavt-planshet_section {

    display: block;
    margin-top: 150px;
  }
  .cosmonavt-planshet_img-mobile {
    
    margin-bottom: 120px;
  }

  .planshet_vizitca {/* баннер  включаем */

    display: block;
  }

  .planshet-vizitca__image {/* баннер  включаем  */

    display: block;
  }

  .vizitka-conteiner {

    display: none;
  }
 
  /* .form-img-conteiner {

    width: ;
  } */

  .form-inline-top {/* меняется форма на колонку */

    flex-direction: column;
    gap: 10px;

  } 

  .form-control  {/* меняется ширина формы */

    width: 320px;
  }
  .form-conteiner-top-text {

    margin-top: -270px;
  }
  .form-button-one {
    margin-top: 5px;
  }

  .form-conteiner-top-text h6 {

    font-size: 30px;

  }
  .section-footer {/* футер */

    display: none;
  }

  .section_footer-mobile {/* футер моб */

    display: block;
  }

}
@media (max-width: 790px) {
  
  .center-raceta-mars_img-two-mobile{
    display: flex;
  }
  .center-raceta-mars_img-one-mobile{
    display: flex;
  }
  .center-raceta-mars_img-tree-mobile{

    display: flex;
  }

  .center-raceta-mars_img-one {

    display: none;
  }
  .center-raceta-mars_img-two {

    display: none;
  }
  .center-raceta-mars_img-tree{

    display: none;

  }

  .mobile-card-wark {

    display: none;
  }
  .card-top-wark-section {

    display: block;
   
  }
 
}


@media (max-width: 709px) {

  .cosmonavt-planshet_section {
    display: block;
    margin-top: 300px;
  }  


}
@media (max-width: 526px) {

  .cosmonavt-planshet_section {
  
    margin-top: 200px;
  }  

  .cosmonavt-planshet_conteiner {

    width: 280px;
    height: 250px;
  }
  .cosmonavt-planshet_title h6 {

    font-weight: 800;
    font-size: 50px;
  }
  .cosmonavt-planshet_price {
    width: 300px;
    height: 300px
   

  } 
  .cosmonavt-planshet_price p {
  
    font-size: 25px;
  }   
  .cosmonavt-planshet_title h5 {
    font-weight: 500;
    font-size: 19px;
  }  
}
@media (max-width: 709px) {
  .cosmonavt-planshet_img {

    display: none;
  }

  .cosmonavt-planshet_img-mobile {
    
    display: block;
  }
}
@media (max-width: 709px) {/* большая ширина контейнера для карт */

  .card-context-conteiner {
    height: 1400px;

  }
  .cosmonavt-planshet_section {

    margin-top: 300px
  }
}
@media (max-width: 526px) {

  /* .cosmonavt-planshet_section {
    margin-top: 400px;
  } */
  .cosmonavt-planshet_img-mobile {

    margin-top: 200px;
  }  
  .center-raceta-mars-conteiner h4 {

    font-size: 50px;
  }
}
@media (max-width: 480px) {

  .opisanie-url a {

    font-size: 20px;
  }
  .center-raceta-mars-conteiner h4{

    font-size: 40px;

  }
  .horizontal-bar {

    width: 380px;
  }

  .about-image_planshet-stvoreno {

    display: block;
    background-image: url(../image/stvorenna-mobile.png);
    width: 100%;
    height: 200px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 

  }

  .about-page_items__planshet h1 ,
  .meta_studio-description h2,
  .princip_studio-discription h3{ /* about planshet*/

    font-size: 50px;

  }
  .about-page_items-description__planshet p,
  .meta_studio-items-one p,
  .meta_studio-items-two p {

    font-size: 20px;


  }

  .planshet-banner {

    display: none;
  }
  
  .banner-mobile-section {

    display: block;
  }
  
 
 
  .section_footer-mobile { /* footer */

    display: none;
  }

  .footer-mobile-two { /* footer  вк*/


    display: block;
  }
  .raceta-center_planshet-one {/* ракета плпншет */

    display: none;

  }
  .raceta-center_planshet-two {/* ракета плпншет */

    display: none;

  }
  .raceta-center_planshet-three {

    display: none;

  }
  .section-raceta-mobile-sait {

    display: block;
  }
  .cosmonavt-planshet_title h6 {
 
    font-size: 60px;
  }  

  .cosmonavt-planshet {

    margin-top: 150px;

  }
  .cosmonavt-planshet_conteiner {

    width: 280px;
    height: 250px;

  }

}


@media (max-width: 380px) {

  .form-conteiner-top-text h6 {
    font-size: 20px;
  }  

  .horizontal-bar {

    width: 280px;
  }


}







