

@media (max-width: 1280px) {

  .custom-container {
    width: 100%;
    padding: 0 15px;
  }
}
/* секция .image-banner фиксация текста */
@media (max-width: 1240px) and (min-width: 768px) {  
    .banner-title-top {
        top: 550px;
        right: 50px;
    }
   
}
/* секция .imobile-card-wark  скрыта */
@media (max-width: 1240px) {
    .mobile-card-wark {
      display: none;
    }
  }

@media (max-width: 1150px) and (min-width: 1100px) {
    .conteiner-card-top-wark {
        gap: 3px; /* Устанавливаем расстояние между картами */
        
    }
}
@media (max-width: 1024px){

  .about-page_conteiner-title {

    margin-left:0px;
    margin-top: 0px;
    margin-top: 300px;

  }

  
 
}

@media (max-width: 1158px) {

  .conteiner-card-top-wark  {

    height: 600px;
  }
  .new-text-conteiner {

    justify-content: center;
    text-align: center;
    margin-left: 0;

  }
  .new-text-block {

    font-size: 50px;
  }
  .new-text-center-conteiner {

    justify-content: center;
    text-align: center;
    margin-left:0;


  }

}

@media (max-width: 1100px) {
  
    .mobile-card-wark {
      display: block; /* Включаем .mobile-card-wark */
    }
    .form-button-one {/* форма-кнопка */

      margin-top: 20px;
    }
    .form-inline-top {

      margin-top: 20px;
      
    }
    
    .column-space-star-left { /*колонка ракета смещена левая  */
      margin-left: 70px;

    }
    .column-space-star-right {/*колонка ракета смещена лправая */

      margin-right: 70px

    }
}

@media (max-width: 1075px) {/* увеличиваем пространство для карточек */

  .center-raceta-mars-description-conteiner {

    gap:320px;

  }


}
@media (max-width: 991px) {
  
}
@media (max-width: 992px) {
  
  .page-umovi .navbar-brand img {

    content: url(../image/logo-grey.png);
    width: 100px; 
    height: auto;


  }/* logo-mars */
  /* page-umovi navbar */
  .page-umovi .navbar {
    background-color: transparent !important; /* Убираем фон c */
  }
  .page-umovi .bar {

    background-color:#000000;
    
  }
  .page-umovi .navbar:hover {
    background-color: #010101!important;

  }
  .page-umovi .navbar-collapse {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%; /* Можно подстроить ширину по вашему усмотрению */
    background-color: #010101; /* Для фона */
  }

  /* page-umovi navbar */



    /* page-about navbar */
  .page-about .navbar {
    background-color: transparent !important; /* Убираем фон c */
  }
  .page-about .bar {
  
    background-color:#000000;
      
  }
  .page-about .navbar:hover {

    background-color: #010101!important;
  
  }
  .page-about .navbar-collapse {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%; /* Можно подстроить ширину по вашему усмотрению */
    background-color: #010101; /* Для фона */
  }
  .page-about .navbar-brand img {

    content: url(../image/logo-grey.png);
    width: 100px; 
    height: auto;
  }
  /* page-about navbar */


    /* page-raboti navbar */
  .page-raboti .navbar {
    background-color: transparent !important; /* Убираем фон c */
  }
  .page-raboti .bar {
  
    background-color:#000000;
      
  }
  .page-raboti .navbar:hover {
    background-color: #010101!important;
  
  }
  .page-raboti .navbar-collapse {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%; /* Можно подстроить ширину по вашему усмотрению */
    background-color: #010101; /* Для фона */
  }
  .page-raboti .navbar-brand img {

    content: url(../image/logo-grey.png);
    width: 100px; 
    height: auto;
  
  }
    /* page-raboti navbar */  


  .vam-potribno_items-conteiner {

    margin-left: 500px;
  }

  .perezapusk_conteiner__planshet {

    display: block;
  }

  .perezapusk_conteiner {

    display: none;
  }
  /* .navbar-brand {

    display: none;
  } */
  .perezapusk_conteiner-title {

    width: 0;
  }

  .center-raceta-mars-description-conteiner {

    gap:200px;

  }


}


@media (max-width: 790px) {
  
  .card-top-wark-section {

    height: 700px;
  }
}

@media (max-width: 768px) {

  
  .page-umovi .navbar-brand img {
    width: 80px;  /* Уменьшаем логотип для мобильных устройств */
    height: auto; /* Сохранение пропорций */
  }

  .page-about .navbar-brand img {
    width: 80px;  /* Уменьшаем логотип для мобильных устройств */
    height: auto; /* Сохранение пропорций */
  }

  .vi-otrimuete-image {

    background-image: url(../image/perezapusk-bottom.png);
    width: 100%;
    height: 440px;


  }

  .vi-otrimuete-conteiner {

    margin-right: 500px;
  }
  .vi-otrimuete-description h5 {

    font-size: 40px;
  }
  .vi-otrimuete-item h6{

    font-size: 20px
  }
  .vam-potribno_items-conteiner {

    margin-right: 500px;
    margin-bottom: 450px;
  }

  .vam-potribno_image {

    background-image: url(../image/vam-potribno-planshet.png);
    width: 100%;
    height: 904px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;              
    justify-content: center;
    align-items: center; 

  }
  .vam-potribno_items__description h3 {

    width: 400px;
    text-align: center;
  }

  .vam-potribno_items__text {

    width: 400px;

  }
  .vam-potribno_items__text p {

    margin-top: 30px;
    padding: 10px;
    

    
  }


  .about-page_section {

    display: none;

  }

  .about--section-two {
    display: block;

  }
  .card-top-wark-section {

    height: 880px;
  }
  .footer_new  {

    display: none;
  } 
  .mobile-footer_section {

    display: block;
  }
}

@media (max-width: 768px) {/* замена главного экрана на 768 px */

  .form-top-form h6{

    font-size: 40px;
  }


  .button-center-raceta-mars {

    margin-bottom: 30px;
  }

  .text-align {


    text-align: none;
  }

  .meta_studio-items-two p, .meta_studio-items-one  {

    text-align: left;


  }
  

  .about-image-raceta-style-desctop {

    display: none;
  }

  .perezapusk_image {

    background-image: url(../image/perezapusk-planshet2.png);
    width: 100%;
    height: 1300px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;              
    justify-content: center;
    align-items: center; 



  }



  .perezapusk-fon-image  {

    background-image: url(../image/zrobimo-sait-planshet.png);
    width: 100%;
    height: 500px;

  }
  .perezapusk-fon-text h4 {

    margin-bottom: 90px;
    font-size: 50px;
  }

  .perezapusk_conteiner-items__planshet {

    margin-left: 100px;
  }
  .perezapusk_conteiner__planshet {

    margin-top: 700px;
  }

  .detail-name h1  {

    font-size: 50px;
  }

  .opisanie-name h3 {

    font-size: 50px;


  }

  .horizontal-bar {

    
    width: 480px;
    height: 1px; /* Высота полосы */
    background-color: black; /* Цвет полосы */
    margin: 0 auto; /* Центрирование по горизонтали */

  }
  .etapy-description {

    padding: 0;
  }

 

  .about-image_planshet-stvoreno {

    
    display: block;
    background-image: url(../image/stvorenna-planshet.png);
    width: 100%;
    height: 300px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 


  }
  .banner{/* замена главного экрана на 768 px */

    display: none;

  }

  .planshet-banner  {/* замена главного экрана на 768 px */

    display: block;

  }
  .cosmonavt-planshet_section {

    display: block;
    margin-top: 150px;
  }
  .cosmonavt-planshet_img-mobile {
    
    margin-bottom: 120px;
  }

  .planshet_vizitca {/* баннер  включаем */

    display: block;
  }

  .planshet-vizitca__image {/* баннер  включаем  */

    display: block;
  }

  .vizitka-conteiner {

    display: none;
  }
 
  /* .form-img-conteiner {

    width: ;
  } */

  .form-inline-top {/* меняется форма на колонку */

    flex-direction: column;
    gap: 20px;
    margin-top: 70px;

  } 

  .form-control  {/* меняется ширина формы */

    width: 320px;
  }
  .form-conteiner-top-text {

    margin-top: -200px;
  
  }
  .form-button-one {
    margin-top: 5px;
  }

  .form-conteiner-top-text h6 {

    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;


  }
  .section-footer {/* футер */

    display: none;
  }

  .section_footer-mobile {/* футер моб */

    display: block;
  }

}
@media (max-width: 790px) {
  
  .center-raceta-mars_img-two-mobile{
    display: flex;
  }
  .center-raceta-mars_img-one-mobile{
    display: flex;
  }
  .center-raceta-mars_img-tree-mobile{

    display: flex;
  }

  .center-raceta-mars_img-one {

    display: none;
  }
  .center-raceta-mars_img-two {

    display: none;
  }
  .center-raceta-mars_img-tree{

    display: none;

  }

  .mobile-card-wark {

    display: none;
  }
  .card-top-wark-section {

    display: block;
   
  }
 
}


@media (max-width: 709px) {

  .cosmonavt-planshet_section {
    display: block;
    margin-top: 300px;
  }  


}
@media (max-width: 526px) {

  .cosmonavt-planshet_section {
  
    margin-top: 200px;
  }  

  .cosmonavt-planshet_conteiner {

 
    /* height: 250px; */
    padding: 10px;
  }
  .cosmonavt-planshet_title h6 {

    font-weight: 800;
    font-size: 50px;
  }
  .cosmonavt-planshet_price {
    width: 300px;
    height: 300px
   

  } 
  .cosmonavt-planshet_price p {
  
    font-size: 25px;
  }   
  .cosmonavt-planshet_title h5 {
    font-weight: 500;
    font-size: 19px;

  }  
}
@media (max-width: 709px) {
  .cosmonavt-planshet_img {

    display: none;
  }

  .cosmonavt-planshet_img-mobile {
    
    display: block;
  }
}



@media (max-width: 709px) {/* большая ширина контейнера для карт */

  .card-context-conteiner {
    height: 1400px;

  }
  .cosmonavt-planshet_section {

    margin-top: 300px
  }
}
@media (max-width: 526px) {

  .phone-button {

    width: 380px;
    
  }
  .mobile-footer-description {

    width: 270px;
  }
  .perezapusk_conteiner-description__planshet-two p{

    margin-left: 100px;
  }

  .perezapusk_conteiner-items__planshet h2 {

    margin-left: 0;
  }

  .perezapusk_conteiner-description__planshet p {

    font-size: 18px;
    text-align: center;
    margin-right: 250px

  }
  .perezapusk_conteiner-title__planshet h1 {

    font-size: 50px;

  }

  .perezapusk_conteiner-description__planshet {

    display: none;
  }
  .perezapusk_conteiner-description__planshet-two {

    display: block;
    margin-left: 200px;
    



  }

  .about-image_planshet{

    background-image: url(../image/abaut-text-mobile.png);
    width: 100%;
    height: 400px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 


  }
  .about-image_planshet-item {

    background-image: url(../image/abaut-cosmonavt-mobile.png);
    width: 100%;
    height: 632px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .about-page_conteiner-title__planshet {

    height: 400px;
  }

  /* .cosmonavt-planshet_section {
    margin-top: 400px;
  } */
  .cosmonavt-planshet_img-mobile {

    margin-top: 200px;
  }  
  .center-raceta-mars-conteiner h4 {

    font-size: 40px;
  }
}
@media (max-width: 470px) {
  .perezapusk-fon-text h4 {
    margin-bottom: 150px;
  }  
}
@media (max-width: 480px) {

  .cosmonavt-planshet_title{

    margin-top: 0;
    padding: 20px;

  }
  .cosmonavt-planshet_title h6 {

    font-size: 45px;

  }
  .phone-button {
    width: 300px;
  }
  .navbar-brand {

    display: none;
  }

  .detail-image_one {

    width: 400px;
  }

  .cosmonavt-planshet_conteiner {

    max-width: 400px;
    padding: 10px;
    
  }

  .proponuemo-txt {

    font-size: 50px;
    padding: 20px;
  }
  .perezapusk-fon-text h4  {

    font-size: 40px;
    margin-top: 20px;


  }

 

  .perezapusk_conteiner-items__planshet {

    width:400px;
    margin-right: 40px;
  }

  .vi-otrimuete-description h5{

    font-size: 40px;
  }


  .vam-potribno_image {

    background-image: url(../image/vam-potribno-mobile.png);
    width: 100%;
    height: 670px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;              
    justify-content: center;
    align-items: center; 



  }
  
  .vam-potribno_items-conteiner {

    margin-bottom: 220px; 
  }

  .vam-potribno_items__description h3 {

    font-size: 45px;


  }

  .vam-potribno_items__text {
    width: 350px;
    padding: 15px;
  }
  
  .vam-potribno_items__text p {

    font-size: 19px;

  }
  .perezapusk_image {

    background-image: url(../image/perezapusk-mobil.png);
    width: 100%;
    height: 1300px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;              
    justify-content: center;
    align-items: center; 



  }

  .about-page_items__planshet h1{
    

    margin-top: 50px;


  }

  .opisanie-url a {

    font-size: 20px;
  }
  .center-raceta-mars-conteiner h4{

    font-size: 35px;

  }
  .horizontal-bar {

    width: 380px;
  }

  .perezapusk_image {

    display: block;
    background-image: url(../image/perezapusk-mobile3.png);
    width: 100%;
    height: 830px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 

  }
  .perezapusk_conteiner__planshet {
    margin-top: 200px;
  }  

  .about-page_items__planshet h1 ,
  .meta_studio-description h2,
  .princip_studio-discription h3{ 

    font-size: 50px;

  }
  .about-page_items-description__planshet p,
  .meta_studio-items-one p,
  .meta_studio-items-two p {

    font-size: 20px;


  }

  .planshet-banner {

    display: none;
  }
  
  .banner-mobile-section {

    display: block;
  }
  
 
 
  .section_footer-mobile { /* footer */

    display: none;
  }

  .footer-mobile-two { /* footer  вк*/


    display: block;
  }
  .raceta-center_planshet-one {/* ракета плпншет */

    display: none;

  }
  .raceta-center_planshet-two {/* ракета плпншет */

    display: none;

  }
  .raceta-center_planshet-three {

    display: none;

  }
  .section-raceta-mobile-sait {

    display: block;
  }
  .cosmonavt-planshet_description {

    padding: 0 30px;
  }
  

  .cosmonavt-planshet {

    margin-top: 150px;

  }
 
}


@media (max-width: 380px) {

  .form-conteiner-top-text h6 {
    
    font-size: 30px;
    text-align: center;
    
  }  

  .horizontal-bar {

    width: 280px;
  }
  .perezapusk_conteiner-items__planshet  {

    width: 350px;
  }
  .perezapusk_conteiner-title__planshet h1 {
    font-size: 40px;
  }  
  .perezapusk_conteiner-description__planshet-two {

    margin-left: 130px
  }
  .perezapusk-button__planshet {

    width: 300px;
  }  

}







