/* -------------------------------секция главный экран--------------------------------------- */

/* общие стили */
/* section {

    padding: 50px 0;
    
} */
a {

    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 16px; 
    color: #FAFAFFE5; 
}

html,body {

    font-family: Inter, sans-serif;
    font-size: 16px; 
    color: #CCC5B9; 
    min-width: 320px; 
    overflow-x: hidden
    
    

}
html {
    scroll-behavior: smooth;
}
/* общие стили */


.exclude-section { /* секция убарает все отступы  на главнрм экране */

    padding: initial; 

}
/* меню навигации */
/* .navbar-brand {
    position: fixed;
    top: 0;
    left: 0;
} */



.navbar-collapse {
    width: 200px; /* Ширина 200px */
    
    background-color: rgba(0, 0, 0, 0.5)
}
.navbar-toggler {
    border: none; /* Убираем обводку */
}
.navbar-toggler-icon {

    background-image: url(../image/burger2.svg);
    width: 32px;
    height: 24px;
}
.navbar-toggler-icon svg {

    fill:white;
}


.navbar-nav .nav-link {

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color :#CCC5B9 !important; 
    padding: 10px; 
    text-align: center; 



}
.navbar-nav {

    margin: auto; /* Устанавливаем отступы автоматически для выравнивания по центру */
    display: flex;
}
.navbar-nav .nav-item {

    margin-right: 60px;

}
.navbar-brand {
    margin-left: auto;
}
/* меню навигации */
.mars-title h1 {

    font-weight: 400;
    font-size: 20px;
    color :#CCC5B9
}

/* кнопка */
.mars-button {

    position: relative; 
    display: inline-block;

}


.mars-button img {

    display: block;
    width: 100%; 
    height: auto; 
    border-radius: 5px;
    /* transition: transform 0.3s ease;  */



}
.mars-button span {

    font-family: 'Inter', sans-serif;
    font-weight: 300;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 18px;
    /* transition: opacity 0.3s ease; /* Добавляем плавный переход */
    text-transform: uppercase;
    
}

/* .mars-button:hover img {
    transform: scale(1.1); 

}

.mars-button:hover span {

    opacity: 1;
} */

/* кнопка */
/* -------------------------------секция главный экран--------------------------------------- */



/* -------------------------------секция что мы делаем--------------------------------------- */

.wark-section {

    margin-top: 50px;
}
.image-card {

    width: 256px;
    height: 256px;
    
}

.card-title {

    font-family: Inter, sans-serif;
    text-transform: uppercase;
    font-size: 23px; 
    color: #FAFAFF; 
    font-weight: 900;
    line-height: 30px;
    

}
.card-title_item {

    font-family: Inter;
    font-size: 18px; 
    color: #FAFAFF; 
    max-width: 220px;
    max-height: 100px;
    font-weight: lighter;
    line-height: 20px;
    
}

.card-title  {

    top: 39px;
    left: 39px;
}

/* -------------------------------секция что мы делаем --------------------------------------- */

/* -------------------------------секция сайт визитка--------------------------------------- */

.vizitka-image {

    background-image: url(../image/sait-destop.png);
    background-position: center;
    background-size: cover;
    height: 750px;
    width: 100%;
}

.vizitka-text {

    margin-top: 60px;

}

.vizitka-text span {

    font-size: 40px;
    color:#020607;
}

.vizitka-text h2 {

    font-weight: 900;
    font-size: 90px;
    color:#ffd769;
    text-transform: uppercase;
}
.vizi-text {

    background: linear-gradient(90deg,  #FE0000 0%, #FED700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.vizi-span {

    font-size: 40px;
    font-weight: 300;
    color: #020607;


}

.vizitka-text_items {

    width: 440px;
    height: 210px;
  
    


}
.vizitka-text_items h5 {

    line-height: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 5%;
    font-family: Inter, sans-serif;
    color: #020607;
    


}

.vizitka-text h6 {

    font-size: 40px;
    color: #ffd769;
    text-transform: uppercase;

}

.text-dark {

    font-size: 40px;
    color: #020607;

}

/* -------------------------------секция сайт визитка--------------------------------------- */

/* -------------------------------секция card_conteiner--------------------------------------- */
.card_conteiner {
    margin-top: 70px;
}

 .card-body-section {

    padding: 30px 40px 0 40px;
 } 
.card-title-section {

    font-size: 25px;
    color:#ffd769;
    text-transform: uppercase;
    font-weight: 900;

}

.card-text-section {

    width: 220px;
    height: 100px;
    margin-top: 40px;
}

.card-text-section {

    font-size: 18px;
    color: #FAFAFF;
    line-height: 20px;
    font-weight: 300;

}
.mars-button-topcard {

    margin-top: 80px;

}


/* -------------------------------секция card_conteiner--------------------------------------- */


/* -------------------------------секция why-us--------------------------------------- */
.why-us {

    margin-top: 20px;
    margin-right: 120px;
    
    
} 

.why-us-text h6 {

   font-size: 35px;
   color: #020607;
   font-weight: 900;
}

.why-us-text span {

    font-size: 23px;
    font-weight: 300;
    
   
}

/* -------------------------------секция why-us-card--------------------------------------- */
.why-us-card {

    margin-top: 30px;
}

.card-top {

    display: flex; /* Делаем контейнер .card flex-контейнером */
    justify-content: center; /* Выравниваем содержимое по центру по горизонтали */
    align-items: flex;
    align-items: center;
}
.card-conteiner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.card-description {

    margin-top: 90px;

}
.card-description h6 {

    font-size: 35px;
    font-weight: 900;
    color:#ffd769;
}


.card-text  {

    margin-top: 5px;
}
.card-text span {

    font-size: 18px;
    font-weight: 300;
    color: #FAFAFF;

}


/* -------------------------------секция why-us-card--------------------------------------- */

/* -------------------------------секция form --------------------------------------- */
.form-section {

    margin-top: 40px;
}

.form-image {
    background-image: url(../image//Задник\ заявка.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 375px;
    justify-content: center;
    align-items: center;
    display: flex;


}
.form-container {

    justify-content: center;
    width: 100vh;

}
.form-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;

} 
.form-inline {

    display: flex;
    gap: 10px;
}
.form-control {

    width: 380px;
    height: 60px;
    border-radius: 30px;
    border: none;
}
.form-control::placeholder {

    text-align: right;
    font-size: 18px;
    font-weight: 300;
    color: #7C7C7466;
    padding-right: 20px;

}
.form-text-center h6 {

    font-size: 35px;
    font-weight: 900;
    color: #020607;;

} 
.form-text-center {

    margin-top: 40px;
    transform: translateY(-40px);
}
/* -------------------------------секция form --------------------------------------- */

/* -------------------------------секция footer-image --------------------------------------- */

.footer-image {

    background-image: url(../image/Задник\ контакти.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-conteiner {/* контейнер img*/

    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Сдвинуть контейнер вправо */
    margin-top: -120px; /* Поднять контейнер вверх на 20px */

}

.image-conteiner-items {/* картинка */

    width: 40px;
    height: auto;
    margin-bottom: 10px;
}


.text-conteiner { /* контейнер 2 */

    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Сдвинуть контейнер вправо */
}

.text-conteiner h6 {/* контейнер 2  текст */

    font-size: 20px;
    font-weight: 700;
    color:#ffd769;

}

.icon-conteiner { /* контейнер 3 */

    width: 400px;
    height: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150px; 


}
.icon-conteiner {

    width: 40px;
    height: 40px;

}

.image-conteiner-items {
    margin-right: 10px;
}

.prava-conteiner {/* контейнер 3 */

    position: absolute;/* чтоб двигать контейнер */
    margin-top: 100px;
    margin-left: 150px;
   
}

.prava-conteiner h6 {

    font-size: 16px;
    font-weight: 400;
    color:#AEB2AA66;
    opacity: 0.5;/*  gпрозрачность */
}



/* -------------------------------секция footer-image --------------------------------------- */

/* -------------------------------секция banner --------------------------------------- */
.image-banner  {

    background-image: url(../image/banner.png);
    height: 840px;
    position: relative;/*  примеряется к родителя чтоб двигать banner-title-top */
    background-repeat: no-repeat;
    background-size: cover; /* Изображение охватывает весь контейнер */
    background-position: center;
    background-size: cover;
    width: 100%; /* Занимает всю ширину родительского контейнера */
    max-width: 100vw;

}

.banner-title-top {

    position: absolute;
    
    top: 550px;
    right: 150px;
    
}
.banner-title-top h1 {

    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 5%;
    color: #CCC5B9;
    font-weight: 100;



}
/* -------------------------------секция banner --------------------------------------- */




/* -------------------------------form-in-line --------------------------------------- */
.form-in-line-top {

    margin-top: 40px;
}
.form-img-conteiner {/*  картинка фон */

    background-image: url(../image/Задник\ заявка.png);
    width: 100%;
    height: 375px;
    background-size: cover;
    background-position: center;
}
.form-conteiner-top {/*   контейнер формы  */

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%/*   растянуть на весь блок */

}
.form-conteiner-top-text {/* Абсолютное позиционирование для контейнера  родителбf lex */

    position: absolute; /* Абсолютное позиционирование */
    margin-top: -200px;

  

}
.form-conteiner-top-text h6 {

    font-size: 40px;
    color: #252422;
    font-weight: 900;

}

.form-inline-top {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%; /*заставляет форму занимать всю доступную ширину родительского  */
    gap: 5px; /* Отступы между элементами формы */

}
.form-button {

    width: 312px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: black;
    cursor: pointer; 
    color: #FAFAFF;
    text-transform: uppercase;
}


/* -------------------------------form-in-line --------------------------------------- */
/* -------------------------------card-top-wark --------------------------------------- */

.card-top-wark-section {

    margin-top: 30px;
}
.conteiner-card-top-wark { /* контейнер */

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 375px;
    /*flex-wrap: wrap; перенос флекс элемента*/
    box-sizing: border-box;
    gap:2px;
}
.card-top-wark {  /* карта */

    width: 345px; 
    height:256px;
    border: none;
  
    position: relative;
    border-radius: 30px;
    margin: 20px;

}
.card-top-wark {

    transition: transform 0.3s ease, box-shadow 0.2s ease;
}
.card-top-wark:hover {

    transform: scale(1.01);
    box-shadow:  0 8px 24px rgba(13, 13, 13, 0.2);
}


.card-title-top-wark { /* карта  описанте*/

    position: absolute;
    top: 20px;
    left: 40px;
}

.card-title-top-wark h5 {/* карта  описанте*/

    font-weight: 900;
    font-size: 23px;
    color: #FAFAFF;

}

.card-item-top-wark {

    position: absolute;
    bottom: 10px;
    left: 20px; 
    margin: 10px;
    width: 240px;
    height: 100px;
    margin-bottom: 50px;
  
}

.card-item-top-wark h6 {

    font-family: Inter, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #FAFAFF;
    letter-spacing: 5%;
}
/* -------------------------------card-top-wark --------------------------------------- */



/* -------------------------------мобильная версия  секция карта --------------------------------------- */
.mobile-card-wark {
    display: none;
  }
.mobile-card-wark {

    margin-top: 20px;
}
.swiper {
    width: 700px;
    height: 300px;
    position: relative;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
  
    /* top: 50%;
    transform: translateY(-50%); */
  
    width: 75px;
    height: 75px;
    position: absolute;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    z-index: 1000;
  
  }
  /* .swiper-button-prev,
  .swiper-button-next {
    width: 0;
    height: 0;
    display: none;
  } */
  
  .swiper-button-prev {
    background-image: url(../image/стрела\ левая.png);
   
    
  }
  
  .swiper-button-next {
    background-image: url(../image/стрела\ правая.png);
  }
  
  .swiper-scrollbar {
    display: none;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none !important;
  }

 /* -------------------------------мобильная версия  секция карта --------------------------------------- */


 /* -------------------------------card-context-section--------------------------------------- */

.card-context-section {/* секция */

    flex-wrap: wrap; 
    display: flex;
    justify-content: center;
    margin-top: 50px; 
    
}
.card-context-conteiner {/* контейнер */

    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    gap:20px;
    width: 100%;
    height: 800px;
    flex-wrap: wrap; 

}

.card-context {/* карта */


    width: 345px;
    height:650px;
    background-color: #020607F2;
    border: none; border-radius: 30px;
   
}


.card-context-title {/* контейнер описание */

    /* width: 244px; */
    height:60px;
    position: relative;
    margin: 20px;
    padding: 20px;

}
.card-context-title h5 {


    font-size: 23px;
    font-weight: 900;

}

.card-context-title_items {/* контейнер описание 2*/
     
    /* width: 244px; */
    height:100px;
    margin: 20px;
    margin-top: 40px;
    padding: 10px;
    

}
.card-context-title_items h6 {

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 5%;
    color: #FAFAFF;
  
}
.card-context-title_items_button {
    position: relative; /* Абсолютное позиционирование внутри карты */
    top: 90px; /* Расстояние от верхнего края карты */
    left: 30px; /* Расстояние от правого края карты */
}
.card-context-card {

    margin-top: 30px;
}

.card-context-img {

    /* width: 300px;
    height: 566px; */
    width: 100%;
   
}
.card-context-img img {

    width: 100%;
    height: 200px;
    object-fit: cover;
    /* border-radius: 30px 30px 0 0; */
  
}

.card-image {

    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;

}
.card-context-img img {
    width: 100%; /* добавлено для растягивания изображения на всю ширину */
     /* добавлено для сохранения пропорций изображения */
    height: auto; /* Сохраняет пропорции изображения */
    object-fit: cover;
}


/* -------------------------------card-context-section--------------------------------------- */

/* -------------------------------card_mini_section--------------------------------------- */
.card_mini_section {/* секция */

    margin-top: 30px;
}
.card_mini_conteiner {/* контейнер */

    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    gap:10px;
    width: 100%;
  
    flex-wrap: wrap; 
}
.card_mini_image {

    width: 345px;
    height:256px;
    background-image: url(../image/Плашка\ 333.png);
    border: none;
    border-radius: 30px;


}

.card_mini_text_conteiner {/*  rконтейнер для заголовка*/

    width: 200px;
    height: 80px;
    position: relative;
    margin: 65px;
    display: flex;
    align-items: center; /* Вертикальное центрирование */
    justify-content: center;
}


.card_mini_text_conteiner_text {/*  контейнер для описания */

    width: 245px;
    height: 50px;
    position: relative;
    margin: 65px;
    display: flex;
    align-items: center; /* Вертикальное центрирование */
    justify-content: center;
}


.mini__text {/*  контейнер для  текста */

    font-size: 30px;
    font-weight: 900;
    margin-top: 70px;
    text-transform: uppercase;
    text-align: center;
    
   
}

.card_mini_text_conteiner_text h6 {/*   текста */

    margin-right: 30px;
}


.mini-description {/*  контейнер для  текста */

      
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5%;
    color: #FAFAFF;
    text-align: center;


}
/* -------------------------------card_mini_section--------------------------------------- */




/* ------------------------------planshet-banner---------------------------------------- */


/* ------------------------------planshet-banner---------------------------------------- */
.planshet-banner {
    display: none;
}
.image_planshet-banner {

    background-image: url(../image/planshet_mars.png);
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: 1024px;
   
    position: relative;/*  примеряется к родителя чтоб двигать banner-title-top */
    background-repeat: no-repeat;
    background-size: cover; /* Изображение охватывает весь контейнер */
    background-position: center;
}
.planshet-banner-text_conteiner{
    position: absolute;
    font-size: 25px;
    top: 550px;
    right: 100px;
    margin-top: 200px; 
   
 
    
}
.planshet-banner-text_conteiner h1 {

    /* font-size: 25px;
    line-height: 30px;
    letter-spacing: 5%;
    color: #CCC5B9;
    font-weight: 400;
    text-align: center; */
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 5%;
    color: #CCC5B9;
    font-weight: 100;

}
/* ------------------------------planshet-banner---------------------------------------- */

/* ------------------------------vizitka-planshet_desckription---------------------------------------- */
.planshet_vizitca{/*  секция */

    display: none;
}
.vizitka-planshet_desckription {
    display: none;

    display: flex;
    justify-content: center;
    align-items: center;
   


}
.vizitka-planshet_conteiner {

    width: 460px;
    height: 440px;
}
/* ------------------------------vizitka-planshet_desckription---------------------------------------- */

.planshet-vizitca__image {

    margin: 0;
    padding: 0;
    display: none;
}
.vizitka-planshet_image{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/cosmonavt_planshet.png);
    height: 1350px;
    height: 768px;
    background-repeat: no-repeat;
    background-size: contain;
 
  
}
/* ------------------------------vizitka-planshet_desckription---------------------------------------- */


.section_footer-mobile {/*   секция */

    display: none;


}

.section_footer_mobile-image {/*   картинка */

    background-image: url(../image/footer_planshet.png);
    /* width: 768px;
    height: 1024px; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
   
}
.section_footer_mobile-conteiner {/*   весь контейнер */

    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 500px;
}

.text-conteiner-mobile { /*   контейнер текст */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.text-conteiner-mobile h6 {

    font-size: 18px;
    color: #AEB2AA66;
}

 .footer-icon-mobile {  /*   контейнер иконка */


    display: flex;
    justify-content: center;
    align-items: center;


 }





/* -------------------------------section_footer-mobile --------------------------------------- */
/* -------------------------------banner-mobile-section--------------------------------------- */
.banner-mobile-section { /*  секция */
    display: none;

    
}
.banner-mobile-image { /*  картинка */

    background-image: url(../image/Mars_mobile_image.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 568px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  

}
.banner-mobile-conteiner { /*  контейнер  */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 300px;
    margin-top: 300px;
   

}
.banner-mobile-conteiner h1 { /* текст  */

    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 5%;
    color: #CCC5B9;
    font-weight: 100;
}

/* -------------------------------banner-mobile-section--------------------------------------- */

/* -------------------------------card-section-text--------------------------------------- */
.card-section-text {

    margin-top: 20px;
    display: none;
}
.card-section-text_title {

    display: flex;
    justify-content: center;
    align-items: center;

}
.text_poslugi {

    font-size: 38px;
    font-weight: 900;
}
/* -------------------------------telegram-mobile--------------------------------------- */
.telegram-mobile {
    display: none;


}
.telegram-mobile-image {

    background-image: url(../image/Telegram_bot_mobile.png);
    width: 100%;
    height: 562px;
    display: block;
    background-repeat: no-repeat;
}
/* -------------------------------telegram-mobile--------------------------------------- */
/* -------------------------------telegram-mobile--------------------------------------- */
.footer-mobile-two {

    display: none;
}
.footer-mobile-two-image {

    background-image: url(../image/footer-image-mobile.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 958px;
    width: 480px;
}

.footer-conteiner {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 333px;
    


}
.footer-icon-mobile_two {

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.image-conteiner-items-two {

    width: 448px;
    height: 60px;
}
.footer-icon-mobile_two img {

    width: 40px;
    height: 40px;
}


.raketa-off {


}
.raketa-off-image {

    background-image: url("../image/card2.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; /* Обеспечивает покрытие всего элемента */
    background-position: center; /* Центрирует фон */
    width: 100%; /* Ширина 100% для адаптивности */
    height: 100vh; 

}
.raketa-off-conteiner {

    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 7px;
}
.raketa-off-conteiner h5 {

    color: black;
    font-size: 20px;
}


/* -------------------------------raceta-planshet_section-------------------------------------- */

/* -------------------------------detail-items-conteiner-------------------------------------- */

.detail-page {

    margin-top: 120px;

}

.detail-items-conteiner {

       
    display: flex;
    text-align: left;
    width: 100%;
    height: 430px; 
    padding: 30px;
    flex-direction: column;
    

}

 .detail-name { /* контейнер h1 */

    width: 100%; /* длинна меняется взависимости от экрана*/
    max-height: 200px; /* ширина меняется взависимости от экрана*/
    color: #020607F2;
    


}
.detail-name h1 {

    font-weight: 800;
    font-size: 50px;

}

.detail-items_description {


    width: 100%; /* длинна меняется взависимости от экрана*/
    max-height: 500px;
    margin-top: 20px;
    overflow: hidden /* обрезает текст если не вмещается в контейнер*/

}
.detail-items_description h2{

    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5%;
    color:  #020607;
}
/* -------------------------------detail-items-conteiner-------------------------------------- */

/* -------------------------------detail-image-------------------------------------- */



/* -------------------------------detail-image-------------------------------------- */



.detail-image {

    margin-bottom: 30px;
}
.detail-image_conteiner {

    display: flex;
    width: 100%;
    /* height: 500px;  */
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
   


}

.detail-image_one{

    background-image: url(../image/card2.png);
    width: 540px;
    height: 330px;
    background-size: cover;
   
   

}
.detail-image_two {

    background-image: url(../image/chesnist_mars.png);
    width: 540px;
    height: 330px;

}
/* -------------------------------detail-image-------------------------------------- */


/* -------------------------------detail-opisanie-------------------------------------- */

.detail-opisanie-conteiner {


    display: flex;
    text-align: left;
    width: 100%;
    /* height: 430px;  */
    padding: 30px;
    flex-direction: column;


}

.opisanie-name {

    width: 100%; /* длинна меняется взависимости от экрана*/
    max-height: 200px; /* ширина меняется взависимости от экрана*/
    color: #020607F2;
    padding: 30px


}
.opisanie-name h3 {

    font-weight: 800;
    font-size: 50px;

}

.opisanie-description {


    width: 100%; /* длинна меняется взависимости от экрана*/
    max-height: 500px; /* ширина меняется взависимости от экрана*/
    margin-top: 20px;
    padding: 30px;
    overflow: hidden ;/* обрезает текст если не вмещается в контейнер*/

}

.opisanie-description h5 {

    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5%;
    color:  #020607;

}

.opisanie-url {

    width: 100%; /* длинна меняется взависимости от экрана*/
    max-height: 100px;
    margin-top: 20px;
    padding: 30px


}

.opisanie-url h4 {

    font-weight: 300;
    /* font-size: 30px;
    line-height: 40px;
    letter-spacing: 5%; */
    color:  #020607;
}

.opisanie-url a {

    font-weight: 600;
    font-size: 25px;
   
    color:#1915E4;
    ;


}

/* -------------------------------detail-opisanie-------------------------------------- */


.abaut-section-test{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 90px;

}


/* -------------------------------etepy page-------------------------------------- */

.etapy-section {


    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 90px;

}

.etapy-name_conteiner {

    display: flex;
    text-align: left;
    width: 100%;
   
    padding: 30px;
    flex-direction: column;


}

.etapy-name_conteiner h1 {

    font-weight: 800;
    font-size: 70px;
 
    color:  #020607;

}


.etapy-item_conteiner {

    width: 100%; /* длинна меняется взависимости от экрана*/
    max-height: 500px; /* ширина меняется взависимости от экрана*/
   
    padding: 30px;
    overflow: hidden;


}
.etapy-item_conteiner h2 {

    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #020607;



}

.etapy-items_conteiner {


    width: 100%; /* длинна меняется взависимости от экрана*/
    max-height: 500px; /* ширина меняется взависимости от экрана*/
    margin-top: 20px;
    padding: 30px;
    overflow: hidden;


}

.etepy-name h3{

    font-weight: 800;
    font-size: 45px;

    color: #020607;




}

.etapy-image-conteiner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
   



}

.etapy-image {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
}

.etapy-image h4 {

    font-weight: 800;
    font-size: 20px;
    color: #020607;

}

.etapy-description {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
}

.etapy-description  h4{


    font-weight: 300;
    font-size: 20px;
    color: #020607;


}
/* -------------------------------etepy page-------------------------------------- */

/* -------------------------------footer_new-------------------------------------- */

.footer_new_section {


    height: 100%;
    background-color: #020607 ;
    display: flex;
    padding: 10px 0;
    text-align: center;
   
    flex-direction: row;


}
.footer_new_conteiner_left {

    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    flex-direction: column;
    margin-top: 30px;

}
.footer_new_logo {

    background-image: url(../image/лого.png);
    background-repeat: no-repeat;
    width: 165px;
    height: 120px;
    margin-right: 100px;
    margin-top: 20p;
}
.footer_new_telephone {

    display: flex;
    flex-direction: column;
    color:#FAFAFF;
   

    
}

.footer_new_items {

    margin-left: 70px;
    text-align: left;
    margin-top: 40px;
}

.foooter_new_mobile {

    margin-left: 40px;

}
.footer_new_telephone a {

    font-size: 30px;
}
.footer_new_item_text {

    margin-left: 70px;
    margin-top: 20px;
    color: #AEB2AA66;
}

.footer_new_mobile {

    margin-right: 50px;
    margin-top: 20px;

}
.footer_new_conteiner_right {

    width: 500px;
    height: 500px;
    display: flex;
    margin-top: 120px;
    
    text-align: left;
    background-position: center;
    flex-direction: row;
    margin-left: 150px;
}

.footer_new_item-one {

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
    gap:10px;


}

.footer_new_item-one-downloud {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
    gap:10px;
  


}
.footer_new_item-one a {

    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color:#FAFAFF;
}
.footer_new_item-one h6 {

    margin-right: 30px;
}
.text-footer {

    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
    text-transform: uppercase;
}
.footer_new_items {

    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 70px;

}
.footer_new_item-one_item {

    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: left;



}

.footer_new_item_two {

    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap:10px;
}
.footer_new_item_two a {

    color:#FAFAFF;
}
.footer_new_item_two_conteiner {

    display: flex;
    flex-direction: column;
    margin-top: 20px;


}
.footer-icon-mobile-mars {

    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 100px;


}

.footer-icon-mobile-mars img {

    width: 40px;
    height: 40px;
}
mage-conteiner-items {
    transition: transform 0.3s ease;
}
.image-conteiner-items:hover {
    transform: scale(1.1); /* Увеличиваем изображение на 10% при ховере */
}



/* -------------------------------footer_new-------------------------------------- */

.mobile-footer_section {

    display: none;

  
}

.mobile-footer_image {

    background-image: url(../image/footer-mobile-last.png);
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;


}

.mobile-footer-section_conteiner {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
    

}

.mobile-footer-telephone {

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.mobile-footer-telephone a {

    color:  #FAFAFFE5;
    font-size: 20px;
    font-weight: 500;

}
.mobile-footer-description {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.mobile-footer-description p {

    color:#AEB2AA66;
    font-size: 14px;

}

.mobile-conteiner-image_icon {

   
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;


}


.mobile-conteiner_prava {

    max-width: 400px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    color:#AEB2AA66;
    text-align: center;
}

.mobile-conteiner_prava p {
    font-size: 1rem; /* Базовый размер шрифта */
    line-height: 1.5;
    text-align: justify;
}


/* -------------------------------center-raceta-mars-------------------------------------- */

.center-raceta-mars-section {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.center-raceta-mars_img-one {

    background-image: url(../image/center-raceta-one.png);
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;


}
.center-raceta-mars-conteiner {

    display: flex;
    justify-content: center;   /* Центрирование по горизонтали */
    align-items: center;       /* Центрирование по вертикали */
    text-align: center;        /* Центрирование текста внутри контейнера */
    max-width: 800px;          /* Максимальная ширина контейнера */
    width: 100%;               /* Контейнер растягивается на всю ширину родителя */
    /* height: 100vh;             */
    margin: 0 auto; 

}
.center-raceta-mars-conteiner h4{

    color:  #FFFFFF;

    font-size: 50px;
    font-weight: 800;


}
.center-raceta-mars-description {

    display: flex;
    justify-content: center;   /* Центрирование по горизонтали */
    align-items: center;       /* Центрирование по вертикали */
    text-align: center;        /* Центрирование текста внутри контейнера */
    max-width: 600px;          /* Максимальная ширина контейнера */
    width: 100%;               /* Контейнер растягивается на всю ширину родителя */
    /* height: 100vh;         */
    margin: 0 auto; 


}
.center-raceta-mars-description h5 {

    color:  #FFFFFF;
    font-size: 25px;
    font-weight: 400;



}

.button-center-raceta-mars {

    display: flex;
    justify-content: center;   /* Центрирование по горизонтали */
    align-items: center;       /* Центрирование по вертикали */
    text-align: center; 

}

.btn-center-racketa-mars {


    background-color: #020607; /* Цвет фона кнопки */
    padding: 10px 20px;        /* Внутренние отступы */
    border: none;              /* Убираем стандартную границу */
    border-radius: 30px;       /* Закругляем углы */
    cursor: pointer;           /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавный переход при изменении фона */
    display: inline-block;
    width: 312px;
    height: 60px;
    margin-top: 40px;


}
.btn-center-racketa-mars a {

    font-size: 20px;
    text-transform: uppercase;
    color: #FAFAFF;
}

.center-raceta-mars_img-two {

    background-image: url(../image/center-raceta-two.png);
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    



}
.center-raceta-mars-description-conteiner{

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;  
    gap:600px;

}
.mars-description-one {

    width: 240px;
    
    height: 500px;
   
  
}
.mars-description-one h5 {

    font-weight: 800;
    font-size: 35px;

}
.mars-description-one p {


    font-weight: 300;
    font-size: 20px;
    color:#252422;

}
.btn-center-mars {

    background-color: #020607;
    color:#FAFAFF;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    width: 180px;
    height: 60px;
}

.center-raceta-mars_img-tree {

    background-image: url(../image/center-raceta-tree.png);
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;

    
}
.conteiner-mars-icons {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 820px;
    
  

}
.icons-mars-social {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.center-raceta-mars_img-one-mobile {

    display: none;
    background-image: url(../image/perezapustim_vash_sait.png);
    width: 100%;
    height: 500px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;


}




.center-raceta-mars_img-two-mobile {

    display: none;
    background-image: url(../image/etap.png);
    width: 100%;
    height: 1053px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;


}
.center-raceta-mars-conteiner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;


}
.umovi-raketa {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top: 700px;
}

.umovi-raketa h6 {

    font-weight: 800;
    font-size: 40px;
}

.center-raceta-mars_img-tree-mobile {

    display: none;
    background-image: url(../image/etapy-tree.png);
    width: 100%;
    height: 1024px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;

}
/* -------------------------------center-raceta-mars-------------------------------------- */
/* -------------------------------image-about_section-------------------------------------- */
.image-about_conteiner {

  
    width: 100%;
    height: 100vh; /* Высота экрана */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-about_conteiner img {

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
/* -------------------------------image-about_section-------------------------------------- */
/* -------------------------------stvorenna_sait-------------------------------------- */

.stvorenna_sait-conteiner {

    display: flex;
    width: 1280px;
    height: 700px;
    flex-direction: row;
}

.stvorenna_image-conteiner {

    background-image: url(/image/);
}
/* -------------------------------stvorenna_sait-------------------------------------- */
/* -------------------------------text-section_item-------------------------------------- */
.text-section_items {

    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;

}
/* -------------------------------text-section_item-------------------------------------- */
/* -------------------------------meta_studio-------------------------------------- */
.meta_studio-conteiner {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.meta_studio-description {

    display: flex;
    justify-content: center;
    align-items: center;
   
}
.meta_studio-description h2 {

    font-size: 60px;
    color:#020607;
    font-weight: 900;
    letter-spacing: 5%;


}
.meta_studio-items-one {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* height: 100vh; */
    text-align: center;

}

.meta_studio-items-one p {

    font-size: 35px;
    color:#020607;
    font-weight: 300;
    letter-spacing: 5%;
    line-height: 40px;
}

.meta_studio-items-two {


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* height: 100vh; */
    text-align: center;


}
.meta_studio-items-two p {


    font-size: 35px;
    color:#020607;
    font-weight: 300;
    letter-spacing: 5%;
    line-height: 40px;
}
/* -------------------------------meta_studio-------------------------------------- */

/* -------------------------------princip_studio-------------------------------------- */
.princip_studio-conteiner {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 400px; */
    width: 100%;

}
.princip_studio-discription {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   


}

.princip_studio-discription h3 {

    font-size: 60px;
    color:#020607;
    font-weight: 900;
    letter-spacing: 5%;

}

.princip_studio-items {

    display: flex;
    justify-content: center;
    align-items: center;

    
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;

}
.pricip_card {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    flex-direction: column;
    gap: 1px;
}
.pricip-card_image {

    width: 100px;
    height: 100px;
}

.princip-card-items h5 {

    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}
/* -------------------------------princip_studio-------------------------------------- */
.about-page_section {

    margin-top: 40px;
}

.about-page_conteiner-image {

    /* background-image: url(../image/about_title.png);
    width: 1280px;
    height: 1034px;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-image: url(../image/about_title.png);
    width: 100%;
    height: 1050px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}
.about-page_conteiner-title {

    display: flex;
    justify-content: center;
    width: 520px;
    height: 520px;
    flex-direction: column;
    margin-left: 600px;
    margin-top: 200px;
}



.about-page_conteiner-title h1 {

    font-size: 60px;
    color:#020607;
    font-weight: 900;
    letter-spacing: 5%;

}


.about-page_conteiner-title p {

    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 5%;
    color: #252422;

}

/* -------------------------------cosmonavt-planshet-------------------------------------- */
.cosmonavt-planshet_section {

    display: none;
}
.cosmonavt-planshet_img-mobile {

    display: none;
    background-image: url(../image/poslugi-mobi.png);
    width: 100%;
    height: 700px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;

}
.cosmonavt-planshet {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.cosmonavt-planshet_conteiner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 410px;
    flex-direction: column;
    position: absolute;/* абсолютное позиционирование */
    transform: translateY(-400px);/* поднять вверх контеинер */
    margin: 20px;


}
.cosmonavt-planshet_title h6 {

    font-weight: 900;
    font-size: 80px;
 
}
.cosmonavt-planshet_title {

    margin-right: 80px;


}
.cosmonavt-planshet_title h5 {


    font-weight: 500;
    font-size: 20px;
    color: #010506;


}

.cosmonavt-planshet_img {

    background-image: url(../image/cosmonavt-poslugi2.png);
    width: 100%;
    height: 1191px;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;


}

.cosmonavt-planshet_description {

   
    font-size: 18px;
    letter-spacing: 2px;
    color: #010506;
    line-height: 18.75px;
    font-family: 'Inter', sans-serif;
}
.cosmonavt-planshet_description h6{

    font-size: 18px;
    letter-spacing: 5px;
    color: #010506;
    line-height: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;


}
.cosmonavt-planshet_price {

    width: 460px;
    height: 410px;
    margin-top: 20px;


}

.cosmonavt-planshet_price p{


    font-weight: 800;
    font-size: 30px;




}
.price-value {

    color: #010506;

}

.cosmo-text {

    display: block;
    width: 100%;
    text-align: center;
    letter-spacing: 8px;       /* Еще больше увеличиваем расстояние между буквами */
    text-transform: uppercase;
}

/* -------------------------------cosmonavt-planshet-------------------------------------- */
/* -------------------------------new text-------------------------------------- */



.new-text {


}
.new-text-conteiner {

  
    display: flex;
    margin-left: 65px;
    width: 100%;
    height: 30px;

}
.new-text-block {

    font-weight: 800;
    font-size: 60px;
    color: #020607E5;
    text-transform: uppercase;
}

/* -------------------------------new text-------------------------------------- */
/* -------------------------------new text top-------------------------------------- */

.new-text-top {


}

.new-text-top-conteiner {

    display: flex;
    justify-content: center;

}
/* -------------------------------new text top-------------------------------------- */

/* -------------------------------new text center-------------------------------------- */
.new-text-center {


}
.new-text-center-conteiner {

    display: flex;
    margin-left: 650px;
    width: 100%;
    height: 45px;



}

/* -------------------------------new text center-------------------------------------- */

/* -------------------------------pages abaut-------------------------------------- */


