{% extends 'app/base.html' %}
{% load static %}

{% block content %}

    <section class="card-section-text">
        <div class="card-section-text_title">
        <h5 class="vizi-text text_poslugi">Послуги</h5>
        </div>
    </section>

    
    <!-- секция карта -->
    <section class="card-top-wark-section">
        
        <div class="conteiner-card-top-wark"> 
        
        <div class="card-top-wark" card-1 style="background-image: url({% static 'image/card_section1_one.png' %});" > 
            <div class="card-title-top-wark"> 
            <h5>Сайт<br>візитка</h5>
            </div>
            <div class="card-item-top-wark">
            <h6>З допомогою цієї послуги ви зможете почати просування своєї компанії в інтернеті.</h6>
            </div>
        </div>  

        <div class="card-top-wark" card-2 style="background-image: url({% static 'image/card_section1_two.png' %});" > 
            <div class="card-title-top-wark"> 
            <h5>ЛЕНДІНГ</h5>
            </div>
            <div class="card-item-top-wark">
            <h6>Така форма сайту ідеально підходить для невеликих компаній, продуктів, подій та заходів.</h6>
            </div>
        </div>  


            <div class="card-top-wark" card-3 style="background-image: url({% static 'image/card_section1_three.png' %});" > 
            <div class="card-title-top-wark"> 
                <h5>Багатосторінковий<br>сайт</h5>
            </div>
            <div class="card-item-top-wark">
                <h6>На цьому сайті ві можете добавити перехід на внутрішні сторінки сайту</h6>
            </div>
            </div>  
        </div>

    </section>
    <!-- секция карта -->
    
    <!-- мобильная версия  секция карта-->
    <section class="mobile-card-wark">
        <div class="swiper-container swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><a href="#"><img src="/image/Плашка  для слайдера1  (1).png"></a></div>
            <div class="swiper-slide"><a href="#"><img src="/image/Плашка для слайдера2.png"></a></div>
            <div class="swiper-slide"><a href="#"><img src="/image/плашка для слайдера.png"></a></div>
        
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
        </div>
    </section>
    <!-- мобильная версия  секция карта-->
    

    <!-- секция визитка -->
    <section class="vizitka-conteiner">
        <div class="vizitka-image">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="vizitka-text text-right">
                        <h2 class="vizi-text"><span class="vizi-span">Сайт</span><br>&nbsp;&nbsp;Візитка</h2>
                        <div class="vizitka-text_items">
                        <h5>&nbsp;&nbsp;Забронювати домен + Підключити хостинг, опис комапнії та ваші послуги + посилання на ваші соціальні сторінки = стисла форма на одному блоці в цій формі ви зможете походити примірятись, спробувати з нами попрацювати…та інше</h5>
                        <h6 class="vizi-text">вартість:<span class="vizi-span" style="color: #020607;">&nbsp;від 100$</span></h6>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- конец секция баннер  -->


    <!-- секция планшет банер -->
    <section class="planshet_vizitca">
    <div class="vizitka-planshet_desckription">
        <div class="vizitka-planshet_conteiner">
        <div class="vizitka-text vizitca-title">
            <h2 class="vizi-text"><span class="vizi-span">Сайт</span><br>&nbsp;&nbsp;Візитка</h2>
            <div class="vizitka-text_items">
            <h5>&nbsp;&nbsp;Забронювати домен + Підключити хостинг, опис комапнії та ваші послуги + посилання на ваші соціальні сторінки = стисла форма на одному блоці в цій формі ви зможете походити примірятись, спробувати з нами попрацювати…та інше</h5>
            <h6 class="vizi-text">вартість:<span class="vizi-span" style="color: #020607;">&nbsp;від 100$</span></h6>
            </div>
        </div>
        </div>
    </div>
    </section>
    
    <section class="planshet-vizitca__image">
    <div class="vizitka-planshet_image">
    </div>
    </section>
    
    <!-- секция планшет банер -->

    <section class="telegram-mobile">
        <div class="telegram-mobile-image">
        </div>
    </section> <!--   секция телеграм-mobile  -->

    

    <!--   секция карты  -->
    <section class="card-context-section">
        <div class="card-context-conteiner">

            <div class="card-context">
            <div class="card-context-img">
                <img src="{% static 'image/card3.png' %}" alt="image-mars-studio">
            </div>

            <div class="card-context-title">
                <h5 class="vizi-text">для будивельної компанії</h5>
            </div>
            <div class="card-context-title_items">
                <h6>з допомогою цієї послуги ви зможете почати просування своєї компанії в інтернеті.</h6>
            </div>
            <div class="card-context-title_items_button">
                <a href="#"><div class="card-context-card mars-button-topcard"><img src="{% static 'image/Кнопка 3.png' %}"></div></a>

            </div>
            </div>

            <div class="card-context">
            <div class="card-context-img">
                <img src="{% static 'image/card.png' %}" alt="mars-image">
            </div>
            <div class="card-context-title">
                <h5 class="vizi-text">для будивельної компанії</h5>
            </div>
            <div class="card-context-title_items">
                <h6>з допомогою цієї послуги ви зможете почати просування своєї компанії в інтернеті.</h6>
            </div>
            <div class="card-context-title_items_button">
                <a href="#"><div class="card-context-card mars-button-topcard"><img src="{% static 'image/Кнопка 3.png' %}"></div></a>
            </div>
            </div>
        </div>
    </section>
    <!--   секция карты  -->



    <!--   секция телеграм  -->
    <section class="bord-top">
        <div class="bord-top-image"><!--  изображение -->
        <div class="conteiner">
            <div class="row">
            <div class="board_text text-align-center">
                <div class="board_text_bady">
                <h3 class="bordy-text">ТЕЛАГРМ БОТ ДЛЯ ВАШОГО БІЗНЕСА</h3>
                </div>
                <div class="board_text_bottom">
                <p>В нас ви можете замовити разробку Телеграм боту, який<br>домопоже вам у роботі та автоматизує різні процеси!</p>
                </div>
                <a href="#"><div class="mars-button-topcard"><img src="{% static 'image/Кнопка 2.png' %}"></div></a>

            </div>
            </div>
        </div>
        </div>
    </section>  <!--   секция телеграм  -->


    <!--   секция телеграм-mobile  -->


    <!--   секция ракета  -->
    <section class="space-star">
        <div class="space-star-image">
        <!--   колонка  -->
        <div class="column-space-star-left">
            <h6 class="space-text">умови<br>оплати</h6>
            <p>&nbsp;Забронювати домен + Підключити хостинг,опис комапнії та ваші послуги + посилання   на ваші соціальні сторінки = стисла форма на одному блоці в цій формі ви зможете походити примірятись, спробувати з нами попрацювати…та інше</p>
            <a href="#"><div class="mars-button"><img src="{% static 'image/Кнопка далі блєк.png' %}"></div></a>
        </div>
        <!--   колонка  -->

        <!--   колонка  -->
        <div class="column-space-star-right">
            <h6 class="space-text">умови<br>оплати</h6>
            <p>&nbsp;Забронювати домен + Підключити хостинг,опис комапнії та ваші послуги + посилання   на ваші соціальні сторінки = стисла форма на одному блоці в цій формі ви зможете походити примірятись, спробувати з нами попрацювати…та інше</p>
            <a href="#"><div class="mars-button"><img src="{% static 'image/Кнопка далі блєк.png' %}"></div></a>
        </div>
        <!--   колонка  -->
        </div>
    </section>
    <!--   секция ракета  -->

    <!--  Покращити сайт вашої  -->
    <section class="top-section">
        <div class="top-section-image">
        <div class="top-section-text-body text-align-center">
            <div class="top-section-description">
            <h6>Покращити сайт вашої<br>компаниї</h6>
            </div>
            <div class="top-section-items">
            <p>Ми допоможемо віправити помилки, пидключіти сервиси,<br>базу даних, прийом заявок, оплата, новини, бронювання та інше</p>
            </div>
            <a href="#"><div class="mars-button-top-section"><img src="{% static 'image/Кнопка 2.png' %}"></div></a>
        </div>
        </div>
    </section><!--  Покращити сайт вашої  -->

    <!-- секция ракета мобила -->
    <section class="section-raceta-mobile-sait">
        <div class="raceta-mobile-sait-image-one"></div>
        <div class="raceta-mobile-sait-image-two">
        <div class="raceta-center_planshet-conteiner">
            <div class="umovi-oplaty">
            <h5 class="vizi-text umovi-oplaty_text">умови<br>оплати</h5>
            <a href="#" class="umovi-silka"><p>скачати файл</p></a>
            </div>
            <div class="umovi-oplaty_two">
            <h5 class="vizi-text umovi-oplaty_text_two">єтапи<br>роботи</h5>
            <a href="#" class="umovi-silka_two"><p>скачати файл</p></a>
            </div>
        </div>
        </div>
    </section>  <!-- секция ракета мобила -->





    <section class="raceta-center_planshet-one">
        <!--   секция картинка верхняя -->
        <div class="raceta-center_planshet-image-one">
        <div class="conteiner-raceta-center_planshet">
            <h4>ТЕЛАГРМ БОТ<br> ДЛЯ ВАШОГО БІЗНЕСА</h4>
            <p>В нас ви можете замовити разробку Телеграм боту, який домопоже вам у роботі та автоматизує різні процеси!</p>
            <a href="#"><div class="buttom-top-planshet mars-button"><img src="{% static 'image/Кнопка далі блєк.png' %}"></div></a>
        </div>
        </div><!--   секция картинка верхняя -->
    </section><!--   секция картинка средняя -->

    <section class="raceta-center_planshet-two">
        <div class="raceta-center_planshet-image-two">
        <div class="raceta-center_planshet-conteiner">
            <div class="umovi-oplaty">
            <h5 class="vizi-text umovi-oplaty_text">умови<br>оплати</h5>
            <a href="#" class="umovi-silka"><p>скачати файл</p></a>
            </div>
            <div class="umovi-oplaty_two">
            <h5 class="vizi-text umovi-oplaty_text_two">єтапи<br>роботи</h5>
            <a href="#" class="umovi-silka_two"><p>скачати файл</p></a>
            </div>
        </div>
        </div>
    </section><!--   секция картинка средняя -->


    <section class="raceta-center_planshet-three">
    <div class="raceta-center_planshet-top-image">
        <div class="raceta-center_planshet-top-conteiner">
        <h5>Покращити сайт вашої<br>компаниї</h5>
        <p>Ми допоможемо віправити помилки, пидключіти сервиси,базу даних, прийом заявок, оплата, новини, бронювання та інше</p>
        <a href="#"><div class="buttom-top-planshet mars-button"><img src="{% static 'image/Кнопка далі блєк.png' %}"></div></a>
        </div>


    </div>
    </section><!--   секция картинка нижняя -->


    <!--   секция why-us -->
    <section class="why-us ms-5">
        <div class="conteiner">
        <div class="row">
            <div class="col-md-6  why-us-text">
            <h6>чому ми?<span>Це наші остані аргументи...</span></h6>
            </div>
        </div>
        </div>
    </section><!--   секция why-us -->
    <section class="card_mini_section">
    <div class="card_mini_conteiner">

        <!-- card1 -->
        <div class="card_mini_image" style="background-image: url({% static 'image/plashka_one.png' %});">
        <div class="card_mini_text_conteiner">
            <h5 class="vizi-text mini__text">чесність</h5>
        </div>
        <div class="card_mini_text_conteiner_text">
            <h6 class="mini-description">чесність наш найкращи рекламний інструмент!</h6>
        </div>
        </div>
        <!-- card 1-->

        <!-- card2 -->
        <div class="card_mini_image"  style="background-image: url({% static 'image/plashka_two.png' %});">
        <div class="card_mini_text_conteiner">
            <h5 class="vizi-text mini__text">вигідна<br>ціна</h5>
        </div>
        <div class="card_mini_text_conteiner_text">
            <h6 class="mini-description">в нас реально гарні ціни!</h6>
        </div>
        </div>
        <!-- card 2-->

        <!-- card3 -->
        <div class="card_mini_image">
        <div class="card_mini_text_conteiner">
            <h5 class="vizi-text mini__text">завжди на звязку</h5>
        </div>
        <div class="card_mini_text_conteiner_text">
            <h6 class="mini-description">допоможемо вам 24/7</h6>
        </div>
        </div>
        <!-- card3-->

    </div>
    </section> 

    {% comment %} <section class="form-in-line-top">
        <div class="form-img-conteiner">
          <div class="form-conteiner-top">
    
            <div class="form-conteiner-top-text">
              <h6>ВІДПРАВЬТЕ ЗАЯВКУ!</h6>
            </div>
            
              <form class="form-inline-top" method="post" action="{% url 'mars:contact' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="{{ form.name.name }}" class="form-control" placeholder="Kомпанія" value="{{ form.name.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <input type="text" name="{{ form.phone_number.name }}" class="form-control" placeholder="Номер телефону" value="{{ form.phone_number.value|default_if_none:'' }}">
                </div>
                <button type="submit" class="form-button-one mars-button-items">
                    <img src="{% static 'image/Кнопка 2.png' %}">
                </button>
              </form>
            
          </div>
        </div>
    
    </section>  {% endcomment %}

   

{% endblock content%}