<!doctype html>
<html lang="en">
{% load static %}
<head> 
  <!-- Required meta tags -->
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Совместимость с Internet Explorer -->
  <meta name="description" content="Разработка интерактивных интернет-сайтов, лендингов, многостраничных интернет-магазинов и многофункциональных сайтов с адаптивным и уникальным дизайном.">
  <meta name="keywords" content="Разработка сайтов, кроссплатформенные сайты, веб-разработка, адаптивный дизайн, создание сайтов, веб-дизайн, разработка приложений, мобильные сайты">
  <meta name="author" content="Mars design studio">
  <meta name="robots" content="index, follow"> <!-- Даем инструкции для поисковых систем -->
  <meta name="google-site-verification" content="reL_Sx5gy9mocFUEHJA4ULjjJVxoGZUtpqkVioPkrTc" />

  
    <!-- Основной фавикон -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}">
  <link rel="icon" href="/path/to/favicon.ico">

    <!-- Apple Touch Icon для устройств Apple -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-touch-icon.png' %}">
  

    <!-- Android Icon -->
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'image/android-192.png' %}">

    <!-- Windows Tile Icon -->
  <meta name="msapplication-TileImage" content="{% static 'image/favicon-32x32.png' %}">




  <!-- Open Graph для социальных сетей -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Mars design studio — Разработка интерактивных интернет-сайтов, лендингов, многостраничных интернет-магазинов и многофункциональных сайтов с адаптивным и уникальным дизайном.">
  <meta property="og:description" content="Разработка интерактивных интернет-сайтов, лендингов, многостраничных интернет-магазинов и многофункциональных сайтов с адаптивным и уникальным дизайном.">
  <meta property="og:url" content="https://www.web-mars.com/"> <!-- Здесь должен быть ваш домен -->
  <meta property="og:site_name" content="Mars design studio">
  <meta property="og:locale" content="uk_UA">
  <!-- Twitter Cards для Twitter -->
  <meta name="twitter:title" content="Mars studio — Разработка интерактивных интернет-сайтов, лендингов, многостраничных интернет-магазинов и многофункциональных сайтов с адаптивным и уникальным дизайном.">
  <meta name="twitter:description" content="Разработка интерактивных интернет-сайтов, лендингов, многостраничных интернет-магазинов и многофункциональных сайтов с адаптивным и уникальным дизайном.">
  <!-- Изображение для Twitter -->
  <!-- Иконка сайта -->
  
  <link rel="apple-touch-icon" href="https://example.com/apple-icon.png"> <!-- Для iOS устройств -->
  <!-- библиотека  иконок  https://cdnjs.com/libraries/font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">

  {% comment %} Inter {% endcomment %}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  {% comment %} шрифт Raleway {% endcomment %}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.web-mars.com",
      "logo": "https://www.web-mars.com/static/image/лого.png",
      "name": "Mars design studio",
      "description": "Разработка интерактивных интернет-сайтов, лендингов и интернет-магазинов.",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "telephone": "+38-073-160-6731",
          "contactType": "customer service",
          "areaServed": "UA"
        },
        {
          "@type": "ContactPoint",
          "telephone": "+38-097-911-3267",
          "contactType": "technical support",
          "areaServed": "UA"
        }
      ]
    }
  </script>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- слайдер -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <!-- мой CSS -->
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
  <!-- мой media CSS -->
  <link rel="stylesheet" href="{% static 'CSS/media.css' %}">

  <title>Mars Design Studio — Разработка сайтов и веб-дизайна</title>
  <script src="{% static 'js/script.js' %}"></script>
</head>
  <body>
    
  {% include 'include/menu/menu.html' %}

  
  <section class="text-detail-new">
    <div class="container py-4">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <h1 class="text-start text-description-main">{{ detail.name }}</h1>
          <h2 class="text-start text-description-old">{{ detail.description }}</h2>
          <div class="detail-opisanie-conteiner mt-3">
            <div class="opisanie-url">
              <h4><a href="{{ detail.link }}">Дивитись проєкт</a></h4>
            </div>
            <div class="detail-image_conteiner pb-4 mt-4">
              <img src="{{ detail.image.url }}" class="img-fluid" alt="{{ item.name }}" style="border-radius: 20px;">
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>

  <section class="text-detail-all">
    <div class="container py-4">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <h4 class="text-start text-description-main">Наші технології</h4>
          <p class="text-start text-description-old">Ми — студія Mars, яка використовує найсучасніші підходи до створення вебсайтів. У своїй роботі ми поєднуємо дизайн, адаптивну верстку та потужне програмне забезпечення, щоб створювати сайти, які не тільки привабливо виглядають, але й бездоганно працюють на всіх пристроях — від смартфонів до комп’ютерів.</p>
          <p class="text-start text-description-old">Верстка на Bootstrap 5 дозволяє нам швидко та якісно створювати адаптивні інтерфейси, які гарно виглядають на будь-яких екранах.</p>
          <p class="text-start text-description-old">React.js — це сучасна JavaScript-бібліотека, що забезпечує інтерактивність і швидкодію. Завдяки їй наші сайти реагують миттєво, а також можуть легко масштабуватися й інтегрувати складний функціонал — від форм зворотного зв’язку до онлайн-магазинів і особистих кабінетів.</p>
          <p class="text-start text-description-old">Наша серверна частина побудована на Python Django — це сучасний фреймворк, створений для розробки високонавантажених вебсайтів. Django чудово підходить як для інтернет-магазинів, так і для великих багатофункціональних платформ, забезпечуючи стабільну роботу навіть при великій кількості користувачів.</p>
          <p class="text-start text-description-old">Завдяки Django ми можемо реалізувати будь-який функціонал для зручного керування контентом через адмін-панель. Це дозволяє власнику сайту самостійно змінювати інформацію, додавати нові сторінки, товари чи пости — без необхідності звертатись до розробників..</p>
          <p class="text-start text-description-old">Ми не використовуємо шаблони — кожен проєкт розробляється з нуля, з урахуванням цілей вашого бізнесу. Студія Mars — це про сучасність, гнучкість і надійність. Ми створюємо сайти, якими приємно користуватись і які приносять результат.</p>
        </div>
        <div class="col-12 col-md-8 mt-4">
          <h4 class="text-start text-description-main">Просування та реклама</h4>
          <p class="text-start text-description-old">Також ми займаємось рекламою та просуванням сайтів, що дозволяє вашому бізнесу бути серед перших у результатах пошуку та випереджати конкурентів. Ми використовуємо сучасні інструменти цифрового маркетингу — SEO-оптимізацію, таргетовану рекламу, контекстну рекламу Google Ads, аналітику поведінки користувачів і багато іншого.</p>
          <p class="text-start text-description-old">Завдяки цим технологіям ваш сайт не просто існує в інтернеті — він активно працює на вас: залучає нових клієнтів, підвищує впізнаваність бренду та збільшує продажі. Ми розробляємо індивідуальну стратегію просування для кожного проєкту, орієнтуючись на цільову аудиторію та специфіку бізнесу.</p>
  
          <div class="mt-5"><a href="https://t.me/jenyatarasenko" target="_blank"><button class="btn-secondary-mars">Замовити</button></a></div>
        </div>
      </div>
    </div>
  </section>
 
  
   <!-- секция карта -->
  <section class="technology mt-5">
    <div class="logo-marquee">
      <div class="logo-track">
        <img src="{% static 'image/sl11.svg' %}" alt="logo">
        <img src="{% static 'image/sl1.svg' %}" alt="logo">
        <img src="{% static 'image/sl2.svg' %}" alt="logo">
        <img src="{% static 'image/sl10.svg' %}" alt="logo">
        <img src="{% static 'image/sl3.svg' %}" alt="logo">
        <img src="{% static 'image/sl4.svg' %}" alt="logo">
        <img src="{% static 'image/sl5.svg' %}" alt="logo">
        <img src="{% static 'image/sl22.svg' %}" alt="logo">
        <img src="{% static 'image/sl6.svg' %}" alt="logo">
        <img src="{% static 'image/sl12.svg' %}" alt="logo">
        <img src="{% static 'image/sl13.svg' %}" alt="logo">
        <img src="{% static 'image/sl14.svg' %}" alt="logo">
        <img src="{% static 'image/sl15.svg' %}" alt="logo">
        <img src="{% static 'image/sl11.svg' %}" alt="logo">
        <img src="{% static 'image/sl1.svg' %}" alt="logo">
        <img src="{% static 'image/sl18.svg' %}" alt="logo">
        <img src="{% static 'image/sl2.svg' %}" alt="logo">
        <img src="{% static 'image/sl10.svg' %}" alt="logo">
        <img src="{% static 'image/sl3.svg' %}" alt="logo">
        <img src="{% static 'image/sl4.svg' %}" alt="logo">
        <img src="{% static 'image/sl21.svg' %}" alt="logo">
        <img src="{% static 'image/sl5.svg' %}" alt="logo">
        <img src="{% static 'image/sl-19.svg' %}" alt="logo">
        <img src="{% static 'image/sl6.svg' %}" alt="logo">
        <img src="{% static 'image/sl12.svg' %}" alt="logo">
        <img src="{% static 'image/sl13.svg' %}" alt="logo">
        <img src="{% static 'image/sl14.svg' %}" alt="logo">
        <img src="{% static 'image/sl15.svg' %}" alt="logo">
        <img src="{% static 'image/sl10.svg' %}" alt="logo">
        <img src="{% static 'image/sl20.svg' %}" alt="logo">

      </div>
    </div>
  </section>

  <section class="new-text-top mt-2">
    <div class="new-text-top-conteiner">
      <h5 class="new-text-block">Процес</h5>
    </div>
  </section>
  <section class="review mt-3 py-3">
    <div class="container">
        <div class="row align-items-center justify-content-center gap-2">
            <div class="card fixed-card bg-black" style="width: 300px; height: 300px; border-radius: 50px;">
                <div class="card-body">
                  <!-- Изображение -->
                  <img src="{% static 'image/design1.svg' %}" class="card-img-bottom" alt="Image" style="height: 100px; width: 100px;">
              
                  <!-- Имя -->
                  <h5 class="card-title-design mt-2 text-left text-white">Дизайн</h5>
              
                  <!-- Текст отзыва (будет изменяться динамически) -->
                  <p class="card-text-review text-left mt-3 text-white">Команда дизайнерів створює унікальний дизайн для кожного проєкту. Жодних шаблонів — лише індивідуальний стиль і креативний підхід.</p>
                </div>
            </div>
            <div class="card fixed-card bg-black" style="width: 300px; height: 300px; border-radius: 50px;">
              <div class="card-body">
                <!-- Изображение -->
                <img src="{% static 'image/html.svg' %}" class="card-img-bottom" alt="Image" style="height: 100px; width: 100px;">
            
                <!-- Имя -->
                <h5 class="card-title-design mt-2 text-left text-white">Програмування</h5>
            
                <!-- Текст отзыва (будет изменяться динамически) -->
                <p class="card-text-review text-left mt-3 text-white">Верстка та програмування, включаючи фронтенд-розробку проєкту, здійснюються за допомогою HTML, CSS, JavaScript та React.</p>
              </div>
            </div>
            <div class="card fixed-card bg-black" style="width: 300px; height: 300px; border-radius: 50px;">

            <div class="card-body">
              <!-- Изображение -->
              <img src="{% static 'image/terminal.svg' %}" class="card-img-bottom" alt="Image" style="height: 80px; width: 70px;">
          
              <!-- Имя -->
              <h5 class="card-title-design mt-4 text-left text-white">Сервер</h5>
          
              <!-- Текст отзыва (будет изменяться динамически) -->
              <p class="card-text-review text-left mt-3 text-white">Серверна розробка здійснюється за допомогою Python та Django. Ми налаштовуємо підключення домену, а також інтегруємо Google Search Console та Google Analytics.</p>
            </div>
           
            </div>            
        </div>
    </div>
  </section>


  <section class="new-text-top mt-2">
    <div class="new-text-top-conteiner">
      <h5 class="new-text-block">відгуки</h5>
    </div>
  </section>
  <!--   секция text -->
  <section class="review mt-3 py-3">
    <div class="container">
        <div class="row align-items-center justify-content-center gap-2">
            <div class="card fixed-card" style="width: 300px; height: 300px; border-radius: 50px;">
                <div class="card-body">
                  <!-- Изображение -->
                  <img src="{% static 'image/otziv-man2.jpg' %}" class="card-img-bottom" alt="Image" style="height: 100px; width: 100px;  border-radius: 50%;">
              
                  <!-- Имя -->
                  <h5 class="card-title-review mt-2 text-left">Антон</h5>
              
                  <!-- Фамилия -->
                  <img src="{% static 'image/stars.png' %}" class="card-img-bottom" alt="Image" style="width: 70px;">
              
                  <!-- Текст отзыва (будет изменяться динамически) -->
                  <p class="card-text-review text-left mt-3" id="review-text">Швидкий підхід до роботи, стильний дизайн та якісне виконання. Команда працює оперативно, враховує побажання і завжди на зв’язку.</p>
                </div>
            </div>
            <div class="card fixed-card" style="width: 300px; height: 300px; border-radius: 50px;">
              <div class="card-body">
                <!-- Изображение -->
                <img src="{% static 'image/3otziv.jpg' %}" class="card-img-bottom" alt="Image" style="height: 100px; width: 100px;  border-radius: 50%;">
            
                <!-- Имя -->
                <h5 class="card-title-review mt-2 text-left">Алекс</h5>
            
                <!-- Фамилия -->
                <img src="{% static 'image/stars.png' %}" class="card-img-bottom" alt="Image" style="width: 70px;">
            
                <!-- Текст отзыва (будет изменяться динамически) -->
                <p class="card-text-review text-left mt-3" id="review-text">Чудова робота! Вебстудія створила наш сайт з нуля — дизайн, функціонал, просування. Все якісно, професійно та вчасно.</p>
              </div>
          </div>
          <div class="card fixed-card" style="width: 300px; height: 300px; border-radius: 50px;">
            <div class="card-body">
              <!-- Изображение -->
              <img src="{% static 'image/6otziv.jpg' %}" class="card-img-bottom" alt="Image" style="height: 100px; width: 100px;  border-radius: 50%;">
          
              <!-- Имя -->
              <h5 class="card-title-review mt-2 text-left">Катя</h5>
              <!-- Фамилия -->
              <img src="{% static 'image/stars.png' %}" class="card-img-bottom" alt="Image" style="width: 70px;">
              <!-- Текст отзыва (будет изменяться динамически) -->
              <p class="card-text-review text-left mt-3" id="review-text">Дуже задоволені співпрацею! Програмісти справжні професіонали — все працює стабільно, швидко та якісно.</p>
            </div>
        </div>
        </div>
    </div>
  </section>
 
  <div class="social-icons-fixed">
    <div class="social-circle">
      <a href="tel:+380996072979" target="_blank">
        <img src="{% static '/image/massege.svg' %}" alt="Tel" style="width: 40px;">
      </a>
    </div>
    <div class="social-circle">
      <a href="https://t.me/jenyatarasenko" target="_blank">
        <img src="{% static '/image/massege1.svg' %}" alt="Telegram">
      </a>
    </div>

  </div>  



 {% include 'include/footer/footer.html' %}
  

 

 
 


 


       
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 
    <script src="/script.js"></script>
  </body>
</html>