<!doctype html>
<html lang="en">
{% load static %}
  <head> 
    <!-- Required meta tags -->
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- библиотека  иконок  https://cdnjs.com/libraries/font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">



    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- слайдер -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <!-- мой CSS -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <!-- мой media CSS -->
    <link rel="stylesheet" href="{% static 'CSS/media.css' %}">

    <title>Mars design-studio</title>
  </head>

    <body>
        {% include 'include/menu/menu.html' %}

        <section class="etapy-section">

            <!-- контейнер этапы  -->
            <div class="etapy-name_conteiner">
                <div class="etepy-name">
                    <h1>“Етапи роботи<br>з MARS”</h1>
                </div>
            </div>
            <!-- контейнер этапы  -->

            <!-- контейнер описание -->
            <div class="etapy-item_conteiner">
                <div class="etapy-item">
                    <h2>&nbsp;&nbsp;&nbsp;Ми раді, що ви погодилися та розглядаєте можливість співпраці з нами. Хочемо нагадати, що ми разом із вами зацікавлені в успішності вашого проєкту, тому просимо сприймати наш підрозділ як ваших помічників і союзників — ми граємо в одній команді!</h2>
                </div>
            </div><!-- контейнер описание -->

            <!-- контейнер этапы -->
            <div class="etapy-name_conteiner">
                <div class="etepy-name">
                    <h3>З чого буде складатись наша робота...</h3>
                </div>
            </div><!-- контейнер этапы -->

            <!-- контейнер этапы -->
            <div class="etapy-image-conteiner">

                <div class="etapy-image">

                    <img src="{% static '/image/Цифра 1.png' %}" alt="mars-studio">
                    <h4>Перша зустріч - “Знайомство”</h4>

                    <div class="etapy-description">
                        <h4>&nbsp;&nbsp;&nbsp;Спершу ми проведемо коротке опитування, щоб краще зрозуміти ваші потреби та побажання. Потім ознайомимо вас із нашими послугами та підберемо оптимальне рішення для вашого запиту. Після цього розрахуємо майбутні витрати й надамо список необхідної інформації, яку вам потрібно буде підготувати. </h4>
                    </div>

                </div>

                <div class="etapy-image">

                    <img src="{% static '/image/Цифра 2.png' %}" alt="mars-studio">
                    <h4>Друга зустріч - “Старт роботи”</h4>

                    <div class="etapy-description">
                        <h4>&nbsp;&nbsp;&nbsp;Ми підготуємо для вас прототип/скелет майбутнього сайту, який ви зможете переглянути та уточнити всі деталі.Після цього підписуємо договір і ви вносите передоплату в розмірі 50%. Далі ви надаєте нам необхідну інформацію про компанію, а ми ставимо кілька додаткових уточнюючих питань.<strong style="font-weight: 800;">Після цього починаємо роботу!</strong></h4>
                    </div>

                </div>

                <div class="etapy-image">

                    <img src="{% static '/image/Цифра 3.png' %}" alt="mars-studio">
                    <h4>Третья зустріч - “Сайт уходит на програмування”</h4>

                    <div class="etapy-description">
                        <h4>&nbsp;&nbsp;&nbsp;Ми приносимо вам ваш сайт в дизайні та розповідаємо всі деталі, виписуємо  невеликі правки, сайт уходить на програмування.</h4>
                    </div>

                </div>

                <div class="etapy-image">
                    <img src="{% static '/image/Цифра 4.png' %}" alt="mars-studio">
                    <h4>Четверта зустріч - “Презентація сайту”</h4>

                    <div class="etapy-description">
                        <h4>Призентуємо Вам ваш сайт, уточнюємо деталі, робимо правки та розповідаємо всі деталі</h4>
                    </div>

                </div>


                <div class="etapy-image">
                    <img src="{% static '/image/Цифра 5.png' %}" alt="mars-studio">
                    <h4>П’ята зустріч - “Фінал”</h4>

                    <div class="etapy-description">
                        <h4>&nbsp;&nbsp;&nbsp;Усі зауваження виправлені, усі правки внесені, сайт готовий. Підписуємо акт виконаних робіт, здійснюєте повну оплату послуг разом з усіма витратами. Ми також запропонуємо вам новий договір на обслуговування або просування сайту.</h4>
                    </div>

                    <div class="etapy-description">
                        <h4><strong style="font-weight: 800;">!!! Пам'ятайте!!!</strong>!!! Пам'ятайте!!! Це опис ідеального прикладу співпрації, але життя не ідеальне, ми робимо спільну справу, тому завжди можемо знайти спільну мову та взаємовигідні компроміси! </h4>
                    </div>


                </div>
            </div> <!-- контейнер этапы -->

        </section>



        {% include 'include/form/contact_form.html' %}

        {% include 'include/footer/footer.html' %}
        
            
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
        <script src="/script.js"></script>

    </body>
   </html>